* {
    box-sizing: border-box;
}

body {
    /* background-color: black; */
    height: 100vh;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* color: white; */
    font-family: monospace;
}


form {
    background-color: #15172b;
    color: white;
    padding: 3rem 6rem;
    

}

form label {
    display: block;
}

form input {
    margin-bottom: 20px;
    margin-top: 5px;
    padding: 0.5rem ;
}

.title,.subtitle {
    text-align: center;
    font-size: 1.35rem;
}

.subtitle {
    margin-bottom: 20px;
}

form input {
    width: 100%;
}

form button {
    background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  text-align: center;
  width: 100%;
}